$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    margin: 0 auto;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
        line-height: 0;
    }
}

 /* My stuff */

 .box { 
    width: 80px;
    height: 80px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
 }

 .board {
    margin-top: 20px;
    margin-left: 40px;
    width: 800px;
    height: 800px;  
    position: absolute;
    display: inline-block;
 }

 .name-input {
    width: 80px;
    height: 80px;
    background: none;
    border: none;
    font-size: 20px;
    text-align: center;
 }

.number-box {
    width: 80px;
    height: 80px;
    display: inline-block;
}

.board-inside {
    margin-top: 50px;
    margin-left: 40px;
    position: absolute;
    width: 800px;
    height: 800px;
    display: none;
}

.row-numbers {
    height: 40px;
    width: 50px;
    display: inline-block;
    position: relative;
}

.visual-numbers {
    margin-top: 32px;
    p {
        font-size: 40px;
        margin: 0 0 23px;
    }
}

.visual-numbers-top {
    
    p {
        margin: 0 53px 0px 0;
        display: inline;
        font-size: 40px;
    }
}

.visual-row-numbers {
    display: inline;
    margin-left: 70px;
}


