<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>hundred square grid</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <script src="bower_components/modernizr/modernizr.js"></script>

    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
            <div class="header">
                <h3 class="text-muted">hundred square grid</h3>
            </div>
            
            <div class="jumbotron">
            </div>
            <div class="board"></div>
            <div class="board-inside"></div>
            <div class="row-numbers"></div>

           

        </div>

        <script type="text/template" id='main-template'>
            <a class="btn btn-lg" href="#board"><button type="button" class="btn btn-primary quickstart-btn">quick start</button></a>
            
        </script>

        <script type="text/template" id='createleague-template'>
            <input class="form-control js-name" placeholder="name" type="text">
            <input class="form-control js-username" placeholder="username" type="text">
            <input class="form-control js-password" placeholder="password" type="text">
            <input class="form-control js-email" placeholder="email" type="text">
            <button type="button" class="btn btn-primary submit-btn">Submit</button>
        </script>

        <script type="text/template" id='signin-template'>
            <input class="form-control login-username-js" placeholder="username" type="text">
            <input class="form-control login-password-js" placeholder="password" type="text">
            <button type="button" class="btn btn-primary submit-sigin-button">Submit</button>
        </script>

        <script type="text/template" id='list-template'>
            <p> <%= username %></p>
        </script>

        <script type="text/template" id='board-template'>   
            <input class="name-input" type="text" value="<%= data.name ? data.name : '' %>">
        </script>

        <script type="text/template" id='game-template'>
            <button type="button" class="btn btn-primary generate-numbers">Generate Numbers</button>
        </script>

        <script type="text/template" id='numberbox-template'>
            <p> <%= data.score %></p>
        </script>
        
        <script type="text/template" id='numbergame-template'>
          
        </script>

        <script type="text/template" id='visualNumbers-template'>
          <p> <%= columnNumber[0] %></p>
          <p> <%= columnNumber[1] %></p>
          <p> <%= columnNumber[2] %></p>
          <p> <%= columnNumber[3] %></p>
          <p> <%= columnNumber[4] %></p>
          <p> <%= columnNumber[5] %></p>
          <p> <%= columnNumber[6] %></p>
          <p> <%= columnNumber[7] %></p>
          <p> <%= columnNumber[8] %></p>
          <p> <%= columnNumber[9] %></p>

        </script>


        
        
        <!--<button type="button" class="btn btn-primary logout-btn">Logout</button>-->



        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>

        


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/sass-bootstrap/js/affix.js"></script>
        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
        <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/routes.js"></script>
        <script src="scripts/visual-numbers-view.js"></script>
        <script src="scripts/main-view.js"></script>
        <script src="scripts/createleague-view.js"></script>
        <script src="scripts/signin-view.js"></script>
        <script src="scripts/user.js"></script>
        <script src="scripts/league.js"></script>
        <script src="scripts/list-view.js"></script>
        <script src="scripts/number-box-view.js"></script>
        <script src="scripts/number-game-view.js"></script>
        <script src="scripts/game-view.js"></script>
        <script src="scripts/board-view.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
